<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/layer.js"></script>
</head>
<body>
<h2>所有信息</h2>


<div width="80%" align="center">
    <table class="table table-bordered table-hover" align="center" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th>id</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
            <th>已住人数</th>
            <th>最近一次打分分数</th>
            <th>修改|删除|打分</th>
        </tr>
        <tr v-for="user in list">
            <td>{{user.id}}</td>
            <td>{{user.createdDate}}</td>
            <td>{{user.lastModify}}</td>
            <td>{{user.count}}</td>
            <td>{{user.grade}}</td>
            <td><a :href="'toEditHostel?id='+user.id">修改</a>|<a v-on:click="deleteHostelById(user.id)">删除</a>|
                <button v-on:click="getId(user.id)">打分</button>
            </th>
        </tr>
    </table>
</div>

</body>

<script type="text/javascript">
    var v = new Vue({
        el: 'table',
        data: {
            list: []
        },
        methods: {
            deleteHostelById:function (id){
                $.ajax({
                    url: 'admin/deleteClassInfoById',
                    data: {"id": id,},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        layer.msg(data.rspMsg)
                        setTimeout(function (){
                            location.href = "toAllHostel"
                        },200)
                    },
                });
            },
            getId: function (id) {
                layer.prompt({title: '请输入分数', formType: 3}, function (pass, index) {
                    layer.close(index);
                    $.ajax({
                        url: 'admin/score',
                        data: {"id": id, "grade": pass},
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            layer.msg(data.rspMsg)
                            setTimeout(function (){
                                location.href = "toAllHostel"
                            },200)
                        },
                    });
                });
            }
        }
    })


    $(function () {
        $.ajax({
            url: 'admin/findAllHostel',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                console.log(data.data)
                v.list = data.data
            },
        });
    });
</script>
</html>