<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页左侧导航</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/public.css}" />
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/public.js}"></script>
    <head>

    </head>

<body id="bg">
<!-- 左边节点 -->
<div class="container">

    <div class="leftsidebar_box">
        <a th:href="@{/toWelcome}" target="main">
            <div class="line">
                <img th:src="@{img/coin01.png}"/>&nbsp;&nbsp;首页
            </div>
        </a>
        <dl class="system_log">
            <dt>
                <img class="icon1" th:src="@{img/coin03.png}"/>
                <img class="icon2" th:src="@{img/coin04.png}"/> 用户管理
                <img class="icon3" th:src="@{img/coin19.png}"/>
                <img class="icon4" th:src="@{img/coin20.png}"/>
            </dt>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{/allStudent.html}" target="main">查询所有学生信息</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" th:src="@{img/coin01.png}"/>
                <img class="icon2" th:src="@{img/coin02.png}"/> 宿舍管理
                <img class="icon3" th:src="@{img/coin19.png}"/>
                <img class="icon4" th:src="@{img/coin20.png}"/>
            </dt>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{toAllHostel}" target="main">全部宿舍</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{p3.html}" target="main">添加宿舍</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" th:src="@{img/coin01.png}"/>
                <img class="icon2" th:src="@{img/coin02.png}"/> 班级管理
                <img class="icon3" th:src="@{img/coin19.png}"/>
                <img class="icon4" th:src="@{img/coin20.png}"/>
            </dt>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{toAllClassInfo}" target="main">全部班级</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{p2.html}" target="main">添加班级</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" th:src="@{img/coin01.png}"/>
                <img class="icon2" th:src="@{img/coin02.png}"/> 晚归管理
                <img class="icon3" th:src="@{img/coin19.png}"/>
                <img class="icon4" th:src="@{img/coin20.png}"/>
            </dt>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{toAllLateReturn}" target="main">全部晚归</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{p3.html}" target="main">添加晚归</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>

        </dl>
        <dl class="system_log">
            <dt>
                <img class="icon1" th:src="@{img/coin01.png}"/>
                <img class="icon2" th:src="@{img/coin02.png}"/> 访客管理
                <img class="icon3" th:src="@{img/coin19.png}"/>
                <img class="icon4" th:src="@{img/coin20.png}"/>
            </dt>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{toAllVisit}" target="main">全部访客</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
            <dd>
                <img class="coin11" th:src="@{img/coin111.png}"/>
                <img class="coin22" th:src="@{img/coin222.png}"/>
                <a class="cks" th:href="@{p3.html}" target="main">添加访客</a>
                <img class="icon5" th:src="@{img/coin21.png}"/>
            </dd>
        </dl>

    </div>

</div>
</body>
</html>
